# Add project requirements here
# Phase 1 - GPIO DI/DO testing only
# Install inside the venv: pip install -r requirements.txt
gpiod
minimalmodbus
pyserial
spidev
flask
flask-socketio
flask-cors
python-socketio
python-engineio
requests
pyyaml     
psutil
pyjwt 
